.clientes .contenido li{
	float: left;
	margin: 0 12px 12px 0;
	-webkit-transition: -webkit-transform 0.2s ease;
	-moz-transition: -moz-transform 0.2s ease;
	-ms-transition: -ms-transform 0.2s ease;
	-o-transition: -o-transform 0.2s ease;
	transition: transform 0.2s ease;

}

.clientes .contenido li:hover{
	-webkit-transform: scale(1.05);
	-moz-transform: scale(1.05);
	-ms-transform: scale(1.05);
	-o-transform: scale(1.05);
	transform: scale(1.05);
}