/*
 * autors:
 * Santiago Leopardo @sleopardo
 * Fernando Leopardo @fer_leopardo
*/

/*
 * http://html5doctor.com/html-5-reset-stylesheet/
*/
html,body,div,span,object,iframe,h1,h2,h3,h4,h5,h6,p,blockquote,pre,abbr,address,cite,code,del,dfn,em,images,ins,kbd,q,samp,small,strong,sub,sup,var,b,i,dl,dt,dd,ol,ul,li,fieldset,form,label,legend,table,caption,tbody,tfoot,thead,tr,th,td,article,aside,canvas,details,figcaption,figure,footer,header,hgroup,menu,nav,section,summary,time,mark,audio,video{margin:0;padding:0;border:0;outline:0;font-size:100%;vertical-align:baseline;background:transparent}body{line-height:1}article,aside,details,figcaption,figure,footer,header,hgroup,menu,nav,section{display:block}nav ul{list-style:none}blockquote,q{quotes:none}blockquote:before,blockquote:after,q:before,q:after{content:'';content:none}a{margin:0;padding:0;font-size:100%;vertical-align:baseline;background:transparent;text-decoration:none;outline:0}ins{background-color:#ff9;color:#000;text-decoration:none}mark{background-color:#ff9;color:#000;font-style:italic;font-weight:bold}del{text-decoration:line-through}abbr[title],dfn[title]{border-bottom:1px dotted;cursor:help}table{border-collapse:collapse;border-spacing:0}hr{display:block;height:1px;border:0;border-top:1px solid #ccc;margin:1em 0;padding:0}input,select{vertical-align:middle}li{list-style:none}strong{font-weight:bold}

strong{
	font-weight: 700;
}

a{
	color: #565656;
}

.left{
	float: left;
}

.right{
	float: right;
}


/*
 * Clearfix
*/
.clearfix {
  *zoom: 1;
}

.clearfix:before,
.clearfix:after {
  display: table;
  content: "";
}

.clearfix:after {
  clear: both;
}


body{
	font-family: 'Oxygen', sans-serif;
}

.layout{
	width: 990px;
	margin: 0 auto;
	position: relative;
}

header{
	background: #302b3e;
	padding: 6px 0;
	position: relative;
}

header h1,
header nav li{
	float: left;
}

header h1 a{
	display: block;
	width: 206px;
	height: 57px;
	background: url("./assets/logo.png") no-repeat;
	text-indent: -9999px;
	overflow: hidden;
}

header nav{
	float: right;
	margin-top: 12px;
}

header nav ul{
	overflow: hidden;
}

header nav li a{
	font-family: 'Cabin Condensed', sans-serif;
	font-weight: 300;
	font-size: 26px;
	line-height: 28px;
	color: #ccbfed;
	margin-left: 15px;
}

header nav li.perfil a{
	color: #9cb800;
}

header nav li a:hover{
	color: #fff;
}

ul.connect{
	position: absolute;
	top: 63px;
	right: 0;
	background: rgba(0,0,0,0.6);
	padding: 28px 14px;
	-webkit-border-radius: 5px;
	-moz-border-radius: 5px;
	border-radius: 5px;
	z-index: 100;
}

ul.connect li{
	margin-bottom: 8px;
}

ul.connect li a,
ul.connect li a span{
	background: url("./assets/sp-login.png") no-repeat;
	display: block;
	line-height: 56px;
}

ul.connect li a span{
	padding-right: 20px;
}

ul.connect li a{
	display: block;
	padding-left: 42px;
}

ul.connect li.fb-connect a{
	background-position: top left;
}

ul.connect li.fb-connect a span{
	background-position: right -56px;
}

ul.connect li.aprender a{
	background-position: left -112px;
}

ul.connect li.aprender a span{
	background-position: right -168px;
}