/*
 * Estilos generales para las secciones internas
*/

	/* Breadcrumb */

	.internas .breadcrumb{
		overflow: hidden;
		margin-top: 5px;
	}

	.internas .breadcrumb:before{
		content: "Ir:";
		margin-right: 5px;
	}

	.internas .breadcrumb,
	.internas .breadcrumb li a{
		font-size: 14px;
		color: #d2d2d2;
	}

	.internas .breadcrumb li a:hover{
		color: #fff;
	}

	.internas .breadcrumb li{
		display: inline-block;
	}

	.internas .breadcrumb li:after{
		content: "/";
	}

	.internas .breadcrumb li:last-of-type a{
		color: #fff;
	}

	.internas .breadcrumb li:last-of-type:after{
		content: "";
	}


	/* Contenedor de las 2 columnas */
	.internas .layout .content-col{
		-webkit-box-shadow: 0px 3px 11px #ccc;
		-moz-box-shadow:    0px 3px 11px #ccc;
		box-shadow:         0px 3px 11px #ccc;
		display: table;
		margin-bottom: 30px;
	}


	/* Boton comprar */

	.internas .btn-comprar{
		text-decoration: none;
		background: #8ddb31;
		color: #fff;
		display: inline-block;
		padding: 0 40px;
		font-size: 26px;
		line-height: 50px;
		font-family: 'Oxygen', sans-serif;
		border-bottom: 1px solid #619622;
	}

	.internas .btn-comprar:hover{
		background: #619622;
	}

	/* Header introductorio */

	.internas .header-section{
		overflow: hidden;
		padding: 34px;
		color: #fff;
	}

	.internas .header-section a{
		color: #fff;
	}

	.internas .header-section h2{
		font-size: 42px;
		line-height: 46px;
	}

	/* Estructura de dos columnas */

	.internas .col-izq,
	.internas .col-der{
		/*float: left;*/
		padding: 34px;
		font-family: tahoma;
		font-size: 14px;
		line-height: 22px;
		display: table-cell;
		vertical-align: top;
	}

	.internas .col-izq{
		width: 222px;
		background: #302b3e;
		color: #fff;
	}

	.internas .col-izq .titulo{
		font-size: 20px;
		line-height: 28px;
		margin: 20px 0;
		font-family: 'Oxygen', sans-serif;
	}

	.internas .col-der{
		width: 632px;
		background: #fff;
		color: #333;
	}

	.internas .col-der .titulo{
		font-size: 26px;
		line-height: 30px;
		margin: 20px 0;
		font-family: 'Oxygen', sans-serif;
	}

	.internas .col-der p{
		margin-bottom: 10px;
	}


	/* Estilos para los TABS */

	.internas .tabs{
		border-radius: 0;
		border: none;
		background: none;
	}

	.internas .tabs .ui-tabs-nav{
		background: none;
		border: none;
		border-radius: 0;
		padding: 0;
	}

	.internas .tabs .ui-tabs-nav li{
		border: none;
		background: #98d8ed;
		border-radius: 0;
		margin-right: 2px;
	}

	.internas .tabs .ui-tabs-nav li.ui-tabs-active {
		padding-bottom: 0px;
		background: #31b1db;
	}

	.internas .tabs .ui-tabs-nav .ui-tabs-anchor{
		font-size: 26px;
		line-height: 30px;
		padding: 16px 30px;
		font-family: 'Oxygen', sans-serif;
		color: #fff;
	}

	.internas .tabs .ui-tabs-panel{
		background: #efefef;
		padding: 20px 30px;
	}

	.internas .tabs .ui-widget{
		font-family: tahoma;
		font-size: 14px;
		line-height: 22px;
	}




/* PAGE: CURSOS */

.cursos{
	background: #f2f2f2 url("./assets/bg-cursos.jpg") repeat-x;
}

	/* Header introductorio */

	.cursos .header-section .nombre-curso{
		width: 585px;
	}

	.cursos .header-section .datos-compra{
		margin-top: 8px;
	}

	.cursos .header-section .datos-compra ul{
		margin-right: 20px;
		position: relative;
		top: -2px;
	}

	.cursos .header-section .datos-compra li{
		font-size: 14px;
		line-height: 18px;
	}


	/* Columna izquierda */

	.cursos .col-izq > div{
		margin-bottom: 50px;
	}

	.cursos .col-izq .universidad .logo{
		border-radius: 7px;
	}

	.cursos .col-izq .universidad .bajada{
		font-size: 18px;
		font-family: 'Oxygen', sans-serif;
		line-height: 22px;
	}

	.cursos .col-izq .instructor .foto{
		border-radius: 50%;
		margin: 0 auto 25px auto;
		display: block;
		width: 122px;
	}

	.cursos .col-izq .datos-compra .btn-comprar{
		margin-bottom: 10px;
	}

	.cursos .col-izq .datos-compra ul{
		font-size: 14px;
		line-height: 22px;
		font-family: 'Oxygen', sans-serif;
	}

	.cursos .col-izq .datos-compra ul .precio{
		font-size: 22px;
		line-height: 30px;
	}


	/* Columna derecha */

	.cursos .col-der .video{
		margin: 20px 0 10px 0;
		width: 100%;
	}

	.cursos .col-der .video{
		margin: 20px 0 10px 0;
		width: 100%;
	}

	.cursos .col-der .tabs{
		margin-top: 30px;
	}