/*
 * Estilos generales para las secciones internas
*/

.internas .col-izq,
.internas .col-der{
	float: left;
	padding: 30px;
}


.internas .col-izq{
	width: 230px;
}

.internas .col-der{
	width: 640px;
}