<section data-js="owl-carousel" class="hosepower-carouselHeader owl-carousel owl-theme">
    <div>
        <img src="./build/images/slider/img-hosepower-1.jpg" alt="">
    </div>
    <div>
        <img src="./build/images/slider/img-hosepower-2.jpg" alt="">
    </div>
    <div>
        <img src="./build/images/slider/img-hosepower-3.jpg" alt="">
    </div>
    <div>
        <img src="./build/images/slider/img-hosepower-4.jpg" alt="">
    </div>
</section>
