<section data-js="owl-carousel" class="hosepower-carouselHeader owl-carousel owl-theme">
    <div>
        <img src="./build/images/destacado-header.jpg" alt="">
    </div>
    <div>
        <img src="./build/images/destacado-header.jpg" alt="">
    </div>
    <div>
        <img src="./build/images/destacado-header.jpg" alt="">
    </div>
</section>
