<section class="hosepower-company__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Hose power S.A.</h2>
    </div>

    <div class="hosepower-container hosepower-company__content">
        <div class="hosepower-company__col">
            <p>En <strong>Hose Power</strong>, diseñamos, fabricamos y comercializamos mangueras técnicas para una amplia gama de aplicaciones donde se requieren productos de alto rendimiento. Brindamos una propuesta de valor diferenciada a nuestros clientes, ofreciendo un portfolio completo de productos de primera calidad tanto para aplicaciones de reemplazo como para fabricantes de equipos originales. Nuestro compromiso es el de proveer soluciones superadoras que aumenten la productividad de nuestros clientes.</p>
            <p>Valoramos una cultura de ética fuerte con todos nuestros socios de la cadena de suministros, incluyendo clientes y proveedores.  Crear y mantener una relación de confianza y transparencia, son la base para una plataforma de mutuo beneficio y crecimiento.</p>
            <p>Nuestro éxito como empresa depende del mejor activo de Hose Power: Nuestra gente. Su experiencia, conocimiento, amplitud y diversidad, son la base para ofrecer un servicio excepcional a nuestros clientes.</p>

            <a href="#/productos"><i class="fa fa-tag"></i> Ingresar al catálogo</a>
        </div>

        <div class="hosepower-company__col hosepower-company__col-photo"></div>
    </div>

</section>
