<section class="hosepower-company__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Hosepower</h2>
    </div>

    <div class="hosepower-container hosepower-company__content">
        <div class="hosepower-company__col">
            <p><strong>HOSE POWER</strong>, empresa fundada en 1980 con el objetivo central de diseñar, fabricar y comercializar mangueras industriales, caños flexibles y acoplamientos rápidos.</p>
            <p>Desde la unidad de negocios propia, con una capacidad de 1200 m2, cita en la ciudad de Buenos Aires, desarrolla su actividad y provee a las principales industrias del país.</p>

            <a href="#/products"><i class="fa fa-tag"></i> Ingresar al catálogo</a>
        </div>

        <div class="hosepower-company__col hosepower-company__col-photo"></div>
    </div>

</section>
