<section class="hosepower-company__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">La empresa</h2>
    </div>

    <div class="hosepower-container">

    </div>

</section>
