<section class="hosepower-contact__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Contáctenos</h2>
    </div>

    <div class="hosepower-container">
        <div class="hosepower-contact__left">
            <article class="hosepower-contact__container-article">
                <h3 class="horsepower-contact__article-title"><i class="fa fa-map-marker" aria-hidden="true"></i> Dirección</h3>
                <p>Carlos A. Tellier 1265</p>
                <p>Código Postal 1633</p>
                <p>Parque Industrial Pilar</p>
                <p>República Argentina</p>
            </article>

            <article class="hosepower-contact__container-article">
                <h3 class="horsepower-contact__article-title"><i class="fa fa-phone" aria-hidden="true"></i> Teléfonos</h3>
                <p>(011) 2153-3873</p>
                <p>(011) 2153-4868</p>
                <p>(011) 2153-0552</p>
            </article>

            <article class="hosepower-contact__container-article">
                <h3 class="horsepower-contact__article-title"><i class="fa fa-envelope" aria-hidden="true"></i> Email</h3>
                <p><a href="mailto: ventas@hosepower.com.ar">ventas@hosepower.com.ar</a></p>
                <p><a href="mailto: administracion@hosepower.com.ar">administracion@hosepower.com.ar</a></p>
            </article>

            <article class="hosepower-contact__container-article">
                <h3 class="horsepower-contact__article-title"><i class="fa fa-clock-o" aria-hidden="true"></i> Horarios de atención</h3>
                <p>Lunes a Viernes</p>
                <p>8:00hs a 13:00hs y 14:00hs a 17:00hs</p>
            </article>
        </div>

        <div class="hosepower-contact__right">
            <article class="hosepower-contact__container-article">
                <h3 class="horsepower-contact__article-title"><i class="fa fa-map" aria-hidden="true"></i> Ubicación</h3>

                <div id="map" class="horsepower-contact__article-map"></div>
            </article>

            <article class="hosepower-contact__container-article hosepower-contact__container-article-message">
                <h3 class="horsepower-contact__article-title"><i class="fa fa-comment" aria-hidden="true"></i> Mensaje</h3>

                <input type="text" placeholder="Nombre*" data-js="nombre" />
                <input type="text" placeholder="Apellido*" data-js="apellido" />
                <input type="text" placeholder="E-mail*" data-js="email" />
                <input type="text" placeholder="Teléfono" data-js="telefono" />
                <input type="text" placeholder="Ciudad*" data-js="ciudad" />
                <input type="text" placeholder="Empresa*" data-js="empresa" />

                <textarea placeholder="Consulta" data-js="consulta"></textarea>

                <button type="submit" class="hosepower-contact-submit" data-js="btnSubmit"><i class="fa fa-send"></i> Enviar</button>
                <div class="contentError" data-js="contentError"></div>
            </article>
        </div>
    </div>
</section>
