<footer class="hosepower-footer">
    <nav class="hosepower-footer__nav">
        <ul>
            <li><a href="#" title="Home">Home</a></li>
            <li><a href="#empresa" title="Empresa">Empresa</a></li>
            <li><a href="#productos" title="Catálogo de productos">Productos</a></li>
            <li><a href="#servicios" title="Servicios">Servicios</a></li>
            <li><a href="#contacto" title="Contacto">Contacto y ubicación</a></li>
        </ul>
    </nav>

    <p class="hosepower-footer__info">
        Carlos A. Tellier 1265
        - Código Postal 1633 - Fátima - Buenos Aires - República Argentina.<br />
        Teléfonos/Fax:(54 11) 2153-3873 // 2153-4868 // 2153-0552
    </p>

    <!--<div class="hosepower-footer__social">
        <a href="#"><i class="fa fa-facebook-official" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-twitter-square" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-instagram" aria-hidden="true"></i></a>
        <a href="#"><i class="fa fa-youtube-play" aria-hidden="true"></i></a>
    </div>-->
</footer>
