<header class="hosepower-header">
    <div class="hosepower-header__logo">
        <h1>
            <a href="#" title="Hosepower">HosePower</a>
        </h1>
    </div>

    <nav class="hosepower-header__nav">
        <ul>
            <li><a href="#" title="Home">Home</a></li>
            <li><a href="#empresa" title="Empresa">Empresa</a></li>
            <li><a href="#productos" title="Catálogo de productos">Catálogo de productos</a></li>
            <li><a href="#servicios" title="Servicios">Servicios</a></li>
            <li><a href="#contacto" title="Contacto">Contacto</a></li>
        </ul>
    </nav>
</header>
