<section class="hosepower-container hosepower-home__container">
    <article class="hosepower-home__container-article">
        <h2><i class="fa fa-home" aria-hidden="true"></i> Bienvenidos</h1>
        <p>En <strong>Hose Power</strong>, diseñamos, fabricamos y comercializamos mangueras técnicas para una amplia gama de aplicaciones donde se requieren productos de alto rendimiento. Brindamos una propuesta de valor diferenciada a nuestros clientes, ofreciendo un portfolio completo de productos de primera calidad tanto para aplicaciones de reemplazo como para fabricantes de equipos originales. Nuestro compromiso es el de proveer soluciones superadoras que aumenten la productividad de nuestros clientes.</p>
        <a href="#/productos" title="Ver catálogo de productos" class="button"><i class="fa fa-tag" aria-hidden="true"></i> Ver catálogo de productos</a>
    </article>

    <article class="hosepower-home__container-article">
        <h2><i class="fa fa-cog" aria-hidden="true"></i> Nuestros servicios</h1>
        <p>· Asesoramiento técnico personalizado en la selección e instalación de conductores de fluidos.</p>
        <p>· Relevamiento en plantas de todo el país.</p>
        <p>· Diagnóstico de fallas, identificación de problemas y desarrollo de soluciones.</p>
        <p>· Armado de Mangueras Industriales, Composite e Hidráulicas.</p>
        <a href="#/servicios" title="Ver más" class="button"><i class="fa fa-plus" aria-hidden="true"></i> Ver más</a>
    </article>

    <article class="hosepower-home__container-article">
        <h2><i class="fa fa-envelope" aria-hidden="true"></i> Contáctenos</h1>
        <form>
            <fieldset>
                <input type="text" placeholder="Nombre*" data-js="nombre" />
                <input type="text" placeholder="E-mail*" data-js="email" />
                <input type="text" placeholder="Teléfono" data-js="telefono" />
                <textarea placeholder="Consulta*" data-js="consulta"></textarea>
                <button type="submit" class="button" data-js="btnSubmit"><i class="fa fa-send" aria-hidden="true"></i> Enviar</button>
                <div class="contentError" data-js="contentError"></div>
            </fieldset>
        </form>
    </article>

</section>

<div class="hosepower-home__catalogo">
    <section class="hosepower-container clearfix">
        <h1 class="hosepower-home__catalogo-title">Catálogo de productos</h1>

        <div class="article-cont clearfix">
            <article class="hosepower-home__catalogo-product">
                <a href="#/productos?mangueras-industriales" title="">
                    <img src="./build/images/products/im-prod-mangueras-industriales.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Mangueras industriales</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#/productos?mangueras-metalicas" title="">
                    <img src="./build/images/products/im-prod-mangueras-metalicas.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Mangueras metálicas y de PTFE</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#/productos?mangueras-hidraulicas" title="">
                    <img src="./build/images/products/im-prod-mangueras-hidraulicas.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Mangueras hidráulicas</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#/productos?acoples" title="">
                    <img src="./build/images/products/im-prod-acoples.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Acoples rápidos</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#/productos?abrazaderas" title="">
                    <img src="./build/images/products/im-prod-abrazaderas.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Abrazaderas</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#/productos?accesorios" title="">
                    <img src="./build/images/products/im-prod-accesorios.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Accesorios</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>
        </div>

        <!--p class="hosepower-home__catalogo-view-all">
            <a href="#/productos" title="Ver catálogo completo">> Ver catálogo completo</a>
        </p-->

    </section>
</div>
<!--<div data-js="modalNuevaUbicacion" class="hosepower-home__modal-nueva-ubicacion">
    <div class="img-container">
        <a href="#" class="close" data-js="closeModal"></a>
        <img src="./build/images/home/modal-nueva-ubicacion.jpg" >
    </div>
</div>-->