<section class="hosepower-container hosepower-home__container">
    <article class="hosepower-home__container-article">
        <h2><i class="fa fa-home" aria-hidden="true"></i> Bienvenidos</h1>
        <p><strong>HOSE POWER</strong>, empresa fundada en 1980 con el objetivo central de diseñar, fabricar y comercializar mangueras industriales, caños flexibles y acoplamientos rápidos.</p>
        <p>Desde la unidad de negocios propia, con una capacidad de 1200 m2, cita en la ciudad de Buenos Aires, desarrolla su actividad y provee a las principales industrias del país.</p>
        <a href="./catalogo-de-productos.html" title="Ver catálogo de productos" class="button"><i class="fa fa-tag" aria-hidden="true"></i> Ver catálogo de productos</a>
    </article>

    <article class="hosepower-home__container-article">
        <h2><i class="fa fa-cog" aria-hidden="true"></i> Nuestros servicios</h1>
        <p>· Asesoramiento técnico en la instalación y definición de conductores de fluidos adaptados a cada necesidad.</p>
        <p>· Ensayos según normas internacionales, certificados hidráulicos, neumáticos, vacío y electroestática.</p>
        <p>· Certificación de materiales, garantías de funcionalidad, aptitud, compatibilidad de productos y condiciones de uso.</p>
        <a href="./servicios.html" title="Ver más" class="button"><i class="fa fa-plus" aria-hidden="true"></i> Ver más</a>
    </article>

    <article class="hosepower-home__container-article">
        <h2><i class="fa fa-envelope" aria-hidden="true"></i> Contáctenos</h1>
        <form>
            <fieldset>
                <input type="text" placeholder="Nombre">
                <input type="email" placeholder="Email">
                <input type="text" placeholder="Teléfono">
                <textarea placeholder="Consulta"></textarea>
                <button type="submit" class="button"><i class="fa fa-send" aria-hidden="true"></i> Enviar</button>
            </fieldset>
        </form>
    </article>

</section>

<div class="hosepower-home__catalogo">
    <section class="hosepower-container clearfix">
        <h1 class="hosepower-home__catalogo-title">Catálogo de productos</h1>

        <div class="article-cont clearfix">
            <article class="hosepower-home__catalogo-product">
                <a href="#" title="">
                    <img src="./build/images/home/mangueras-industriales.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Mangueras industriales</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#" title="">
                    <img src="./build/images/home/mangueras-metalicas.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Mangueras metálicas y de PTFE</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#" title="">
                    <img src="./build/images/home/racords.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Racords</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#" title="">
                    <img src="./build/images/home/acoples-rapidos.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Acoples rápidos</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#" title="">
                    <img src="./build/images/home/abrazaderas.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Abrazaderas</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>

            <article class="hosepower-home__catalogo-product">
                <a href="#" title="">
                    <img src="./build/images/home/accesorios.jpg" width="162" height="162" />
                    <div class="hosepower-home__catalogo-product-info">
                        <h2 class="title">Accesorios</h2>
                        <span class="view">Ver</span>
                    </div>
                </a>
            </article>
        </div>

        <p class="hosepower-home__catalogo-view-all">
            <a href="#" title="Ver catálogo completo">> Ver catálogo completo</a>
        </p>

    </section>
</div>
