<section class="hosepower-products-detail__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Detalle de producto</h2>
    </div>

    <div class="hosepower-container hosepower-products-detail__content">
        <p>Nombre: {{name}}</p>
        <p>Foto: <img src="{{image}}" /></p>
        <p>Descripcion: {{description}}</p>
    </div>

</section>
