<section class="hosepower-products__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Catálogo de Productos</h2>
    </div>

    <div class="hosepower-container hosepower-products__content">
        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Mangueras Industriales</h3>

            <div class="hosepower-products__category-container clearfix two-cols">
                <img src="./build/images/products/im-prod-mangueras-industriales.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li>
                        <a href="./pdf/mangueras-acidos-quimicos.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Acidos / Quimicos</a>
                    </li>
                    <li>
                        <a href="./pdf/manguera-aire-agua.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Agua / Aire</a>
                    </li>
                    <li>
                        <a href="./pdf/mangueras-alimentos-bebidas.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Alimentos / Bebidas</a>
                    </li>
                    <li>
                        <a href="./pdf/mangueras-desobstructora.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Desobstructora</a>
                    </li>
                    <li>
                        <a href="./pdf/mangueras-hidrocarburos-solventes.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Hidrocarburos / Solventes</a>
                    </li>
                    <li>
                        <a href="./pdf/mangueras-humo-gases.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Humo / Gases</a>
                    </li>
                </ul>

                <ul class="hosepower-products__category-list">
                    <li>
                        <a href="./pdf/mangueras-materiales-abrasivos.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Materiales Abrasivos</a>
                    </li>
                    <li>
                        <a href="./pdf/mangueras-mineria.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Mineria</a>
                    </li>
                    <li>
                        <a href="./pdf/mangueras-vapor-agua.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Vapor / Agua Caliente</a>
                    </li>
                    <li>
                        <a href="./pdf/mangueras-hidraulicas.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Hidráulicas</a>
                    </li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Mangueras metálicas y de PTFE</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/im-prod-mangueras-metalicas.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li>
                        <a href="./pdf/mang-metalica-corrugada-ac-inox.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Corrugado De Acero Inox</a>
                    </li>
                    <li>
                        <a href="./pdf/mang-metalica-ptfe-corrug.pdf" title="" target="_blank"><i class="fa fa-plus"></i> PTFE Corrugado</a>
                    </li>
                    <li>
                        <a href="./pdf/mang-metalica-ptfe-liso.pdf" title="" target="_blank"><i class="fa fa-plus"></i> PTFE Liso</a>
                    </li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Acoples rápidos</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/im-prod-acoples.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li>
                        <a href="./pdf/acoples-rapidos-sist-levas.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Sistemas A Levas</a>
                    </li>
                    <li>
                        <a href="./pdf/acoples-rapidos-cierre-seco.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Cierre En Seco</a>
                    </li>
                    <li>
                        <a href="./pdf/acoples-rapidos-med-vta-americano.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Media Vuelta Americano</a>
                    </li>
                    <li>
                        <a href="./pdf/acoples-rapidos-med-vta-europeo.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Media Vuelta Europeo</a>
                    </li>
                    <li>
                        <a href="./pdf/acoples-rapidos-med-vta-arenados.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Media Vuelta Arenado</a>
                    </li>
                    <li>
                        <a href="./pdf/acoples-rapidos-split-fast.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Split Fast</a>
                    </li>
                    <li>
                        <a href="./pdf/acoples-rapidos-accesorios.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Accesorios - Juntas y levas</a>
                    </li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Abrazaderas</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/im-prod-abrazaderas.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li>
                        <a href="./pdf/ab-banda-estampada.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Banda estampada - Inoxidable</a>
                    </li>
                    <li>
                        <a href="./pdf/ab-cremallera.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Cremallera - Acero zincado plateado</a>
                    </li>
                    <li>
                        <a href="./pdf/ab-mord.desliz.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Mordaza deslizante
                        </a>
                    </li>
                    <li>
                        <a href="./pdf/ab-super-presion-acero-zinc.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Super presión - Acero zincado plateado</a>
                    </li>
                    <li>
                        <a href="./pdf/ab-super-presion-inox.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Super presión - Inoxidable</a>
                    </li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Racords</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/im-prod-racords.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li>
                        <a href="./pdf/racords-agua-aire.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Racords doble / Terminal doble</a>
                    </li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Accesorios</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/im-prod-accesorios.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li>
                        <a href="./pdf/acc-hebillas.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Hebillas</a>
                    </li>
                    <li>
                        <a href="./pdf/acc-sunchadoras.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Maquinas Sunchadoras</a>
                    </li>
                    <li>
                        <a href="./pdf/acc-porta-mangueras.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Porta Mangueras</a>
                    </li>
                    <li>
                        <a href="./pdf/acc-protector-hdpe.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Protecciones HDPE</a>
                    </li>
                    <li>
                        <a href="./pdf/acc-soporte-manguera.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Soportes Para Mangueras</a>
                    </li>
                    <li>
                        <a href="./pdf/acc-traba-palanca.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Traba Palancas</a>
                    </li>
                    <li>
                        <a href="./pdf/acc-whipcheck.pdf" title="" target="_blank"><i class="fa fa-plus"></i> Whipcheck</a>
                    </li>
                </ul>
            </div>
        </article>
    </div>


</section>
