<section class="hosepower-products__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Catálogo de Productos</h2>
    </div>

    <div class="hosepower-container hosepower-products__content">
        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Mangueras Industriales</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/mangueras-industriales.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li><i class="fa fa-plus"></i> Acidos / Quimicos</li>
                    <li><i class="fa fa-plus"></i> Agua / Aire</li>
                    <li><i class="fa fa-plus"></i> Alimentos / Bebidas</li>
                    <li><i class="fa fa-plus"></i> Desobstructora</li>
                    <li><i class="fa fa-plus"></i> Hidrocarburos</li>
                    <li><i class="fa fa-plus"></i> Humo / Gases</li>
                </ul>

                <ul class="hosepower-products__category-list">
                    <li><i class="fa fa-plus"></i> Materiales Abrasivos</li>
                    <li><i class="fa fa-plus"></i> Mineria</li>
                    <li><i class="fa fa-plus"></i> Vapor / Agua Caliente</li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Mangueras metálicas y de PTFE</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/mangueras-metalicas.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li><i class="fa fa-plus"></i> Corrugado De Acero</li>
                    <li><i class="fa fa-plus"></i> Inoxidable</li>
                    <li><i class="fa fa-plus"></i> Ptfe Corrugado</li>
                    <li><i class="fa fa-plus"></i> Ptfe Liso</li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Acoples rápidos</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/acoples-rapidos.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li><i class="fa fa-plus"></i> Sistemas A Levas</li>
                    <li><i class="fa fa-plus"></i> Sistemas Cierre En Seco</li>
                    <li><i class="fa fa-plus"></i> Media Vuelta Americanos</li>
                    <li><i class="fa fa-plus"></i> Media Vuelta Europeos</li>
                    <li><i class="fa fa-plus"></i> Media Vuelta Arenado</li>
                    <li><i class="fa fa-plus"></i> Acople Split Flange</li>
                </ul>

                <ul class="hosepower-products__category-list">
                    <li><i class="fa fa-plus"></i> Neumaticos Serie "A"</li>
                    <li><i class="fa fa-plus"></i> Hidraulicos Serie "E"</li>
                    <li><i class="fa fa-plus"></i> Hidraulicos Serie "P"</li>
                    <li><i class="fa fa-plus"></i> Accesorios</li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Abrazaderas</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/abrazaderas.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li><i class="fa fa-plus"></i> Mordaza Deslizante</li>
                    <li><i class="fa fa-plus"></i> Super Presion Inoxidable</li>
                    <li><i class="fa fa-plus"></i> Super Presion Acero</li>
                    <li><i class="fa fa-plus"></i> Banda Estampada</li>
                    <li><i class="fa fa-plus"></i> Inoxidable</li>
                    <li><i class="fa fa-plus"></i> Cremallera Acero Zincada</li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Racords</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/racords.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li><i class="fa fa-plus"></i> Racord Doble</li>
                    <li><i class="fa fa-plus"></i> Racord Macho Fijo</li>
                </ul>
            </div>
        </article>

        <article class="hosepower-products__category">
            <h3 class="hosepower-products__category-title"><i class="fa fa-chevron-right"></i> Accesorios</h3>

            <div class="hosepower-products__category-container clearfix">
                <img src="./build/images/products/accesorios.jpg" width="168" height="157" class="hosepower-products__category-image" />
                <ul class="hosepower-products__category-list">
                    <li><i class="fa fa-plus"></i> Flejes</li>
                    <li><i class="fa fa-plus"></i> Hebillas</li>
                    <li><i class="fa fa-plus"></i> Maquinas Sunchadoras</li>
                    <li><i class="fa fa-plus"></i> Antilatigos Whipcheck</li>
                    <li><i class="fa fa-plus"></i> Protecciones Hdpe</li>
                    <li><i class="fa fa-plus"></i> Soportes Para Mangueras</li>
                </ul>
            </div>
        </article>
    </div>


</section>
