<section class="hosepower-quality__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Política de calidad</h2>
    </div>

    <div class="hosepower-container">
        <div class="hosepower-container hosepower-quality__content">
            <div class="hosepower-quality__col">
                <p>Los integrantes de Hose Power S.A., empresa dedicada al diseño y producción de mangueras industriales, hidráulicas y acoples por más de 40 años, nos comprometemos a que nuestros productos, satisfagan las necesidades de nuestros clientes.</p>
                <p>Para logar y mantener el objetivo, nos comprometemos hacer nuestro mayor esfuerzo en:</p>
                <ul>
                    <li><i class="fa fa-check-square-o"></i> Comprender y respetar los requisitos legales y del cliente cumpliendo fielmente con las obligaciones contraídas, respondiendo a sus necesidades de manera ágil y precisa, a fin de elevar el nivel de utilidad que pueden obtener de nuestros productos.</li>
                    <li><i class="fa fa-check-square-o"></i> Somos conscientes de que nuestro éxito reside en mejorar continuamente y por ello, allí donde detectamos la posibilidad de hacerlo, actuamos de forma diligente y creativa para ajustar preventivamente nuestros procesos.</li>
                    <li><i class="fa fa-check-square-o"></i> Proveercapacitaciónalpersonalparafacilitareldesarrollodelosrecursos.</li>
                </ul>
                <p>La Dirección, entiende que el éxito de este proyecto requiere del compromiso y el apoyo de cada uno de los integrantes de Hose Power S.A., brindando los recursos necesarios para que esta Política sea implementada satisfactoriamente.</p>
                <p>Por todo los expresado, y para garantizar el cumplimiento de cada una de las premisas expresadas, establecemos esta Política de Calidad y mantenemos nuestro Sistema de Gestión de Calidad bajo la Norma ISO 9001.</p>
            </div>

            <div class="hosepower-quality__col hosepower-quality__col-photo"></div>
        </div>
    </div>

</section>
