<section class="hosepower-services__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Servicios</h2>
    </div>

    <div class="hosepower-container">
        <div class="hosepower-container hosepower-services__content">
            <div class="hosepower-services__col">
                <ul>
                    <li><i class="fa fa-check-square-o"></i> Asesoramiento técnico personalizado en la selección e instalación de conductores de fluidos.</li>
                    <li><i class="fa fa-check-square-o"></i> Relevamiento en plantas de todo el país.</li>
                    <li><i class="fa fa-check-square-o"></i> Diagnóstico de fallas, identificación de problemas y desarrollo de soluciones.</li>
                    <li><i class="fa fa-check-square-o"></i> Armado de Mangueras Industriales, Composite e Hidráulicas.</li>
                    <li><i class="fa fa-check-square-o"></i> Ensayos según normas internacionales (BS, API, FDA, CE, etc.), certificados de prueba hidráulica, elongación, curvatura y conductividad eléctrica.</li>
                    <li><i class="fa fa-check-square-o"></i> Entregas a cualquier punto del país.</li>
                    <li><i class="fa fa-check-square-o"></i> Análisis de rendimiento y satisfacción del usuario.</li>
                </ul>
            </div>

            <div class="hosepower-services__col hosepower-services__col-photo"></div>
        </div>
    </div>

</section>
