<section class="hosepower-services__container">

    <div class="hosepower-sections-title">
        <h2 class="hosepower-container">Servicios</h2>
    </div>

    <div class="hosepower-container">
        <div class="hosepower-container hosepower-services__content">
            <div class="hosepower-services__col">
                <ul>
                    <li><i class="fa fa-check-square-o"></i> Asesoramiento técnico en la instalación y definición de conductores de fluidos adaptados a cada necesidad.</li>
                    <li><i class="fa fa-check-square-o"></i> Ensayos según normas internacionales, certificados hidráulicos, neumáticos, vacío y electroestática.</li>
                    <li><i class="fa fa-check-square-o"></i> Certificación de materiales, garantías de funcionalidad, aptitud, compatibilidad de productos y condiciones de uso.</li>
                    <li><i class="fa fa-check-square-o"></i> Armado de mangueras industriales con sistemas de prensado, zunchado y soldado de acoples, conectores, bridas y clamps.</li>
                    <li><i class="fa fa-check-square-o"></i> Stock permanente de productos Standard.</li>
                    <li><i class="fa fa-check-square-o"></i> Logística dirigida sobre entregas a cualquier punto del país.</li>
                    <li><i class="fa fa-check-square-o"></i> Post venta con seguimiento periódico sobre resultados de rendimiento y satisfacción del usuario.</li>
                </ul>
            </div>

            <div class="hosepower-services__col hosepower-services__col-photo"></div>
        </div>
    </div>

</section>
