.home .cuerpo{
	background: url("./assets/home/bg.png") no-repeat top left;
}

.home .cuerpo h3{
	width: 229px;
	height: 147px;
	background: url("./assets/home/txt-magico.png") no-repeat top left;
	position: absolute;
	top: 30px;
	left: 50px;
}


/* Styles para mobile */
@media only screen and (min-width: 320px) and (max-width: 480px) {

	.home .cuerpo h3{
		left: 10px;
	}

}