.hosepower-carouselHeader {
	position: relative;
	height: 300px;
}

.hosepower-carouselHeader .owl-item img {
	height: 300px;
	min-width: 100%;
	display: block;
	object-fit: cover;
}

.hosepower-carouselHeader .owl-nav {
	display: none;
}

.hosepower-carouselHeader .owl-dots {
	position: absolute;
	bottom: 20px;
	left: 0;
	right: 0;
	text-align: center;
	z-index: 10;
}

.hosepower-home .hosepower-carouselHeader .owl-dots {
	bottom: 50px;
}

.hosepower-carouselHeader .owl-dot {
	width: 13px;
	height: 13px;
	background: $white;
	border-radius: 50%;
	display: inline-block;
	text-indent: -100px;
	margin-right: 8px;
	opacity: 0.6;
	cursor: pointer;

	&.active {
		opacity: 1;
	}
}
