.hosepower-footer {
    background: #79b7da;
    color: $white;
    text-align: center;
    padding: 30px;
    margin-top: 30px;
}

.hosepower-footer__nav {
    margin-bottom: 20px;

    li {
        display: inline-block;
        position: relative;

        &:after{
			content: '';
			display: block;
			width: 1px;
			height: 10px;
			background: $white;
			position: absolute;
			right: 0;
			top: 3px;
			z-index: 2;
		}

        &:last-child:after{
            display: none;
        }
    }

    a {
        color: $white;
        text-transform: uppercase;
        font-weight: 300;
        font-size: 12px;
        line-height: 16px;
        display: block;
        text-decoration: none;
        padding: 0 10px;
        opacity: 0.9;
        @include transition();

        &:hover {
            opacity: 1;
        }
    }
}

.hosepower-footer__info {
    margin-bottom: 20px;
    line-height: 18px;
    color: #ddedf5;
}

.hosepower-footer__social {
    font-size: 20px;

    a {
        color: $white;
        margin-right: 2px;
    }
}
