@keyframes fade-in {
    from { opacity: 0;}
    to {opacity: 1;}
}

/* Clearfix
-------------------------------------------------- */
.clearfix { *zoom: 1; }
.clearfix:before, .clearfix:after { display: table; content: ""; }
.clearfix:after { clear: both; }

* {
	box-sizing: border-box;
}

::-webkit-input-placeholder {
   color: $placeholder;
}

:-moz-placeholder { /* Firefox 18- */
   color: $placeholder;
}

::-moz-placeholder {  /* Firefox 19+ */
   color: $placeholder;
}

:-ms-input-placeholder {
   color: $placeholder;
}

/* SETEOS GENERALES*/

body {
	font: 13px/1.4 helvetica, arial, sans-serif;
	color: $base;
	background: url('../images/assets/bg-body.jpg') center top no-repeat fixed;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
	-webkit-font-smoothing: antialiased;
}

.hosepower-main{
	position: relative;
	z-index: 2;
	// > div{
	// 	animation: fade-in 250ms ease-out;
	// }
}

.hosepower-container {
	max-width: 1170px;
	width: 100%;
	margin: 0 auto;
	animation: fade-in 450ms ease-out;
}

.hosepower-sections-title {
	background: url("../images/assets/bg-header-bottom.jpg") top left;
	margin-bottom: 35px;

	h2 {
		max-width: 1170px;
		margin: 0 auto;
		line-height: 45px;
		font-family: 'Oswald', sans-serif;
		font-size: 24px;
		color: $white;
		text-transform: uppercase;
	}
}

@media screen and (max-width: 500px) {
	.hosepower-container {
		width: auto;
		margin-left: 10px !important;
	    margin-right: 10px !important;
	}
}
