.hosepower-home__container {
	display: -webkit-flex;
    display: -ms-flexbox;
    display: flex;
    -webkit-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
	margin-top: -35px;
}

.hosepower-home__container-article {
	width: 32%;
	margin-right: 2%;
	padding: 20px 20px 70px;
	background: $white;
	position: relative;

	&:last-child {
		margin-right: 0;
	}

	h2 {
		font-size: 1.83em;
		text-transform: uppercase;
		color: $blue;
		font-weight: 600;
		margin-bottom: 15px;

		.fa {
			color: $lightBlue;
			font-weight: normal;
			margin-right: 5px;
		}
	}

	p {
		margin-bottom: 10px;
		font-size: 13px;

		&:last-child {
			margin-bottom: 0;
		}
	}

	input,
	textarea {
		display: block;
		width: 100%;
		border: 1px solid $borders;
		color: $darkGray;
		padding: 0 10px;
		height: 30px;
		margin-bottom: 10px;
		background: $bgForms;
	}

	textarea {
		resize: none;
		overflow: hidden;
		overflow-y: auto;
		padding-top: 10px;
		padding-bottom: 10px;
		height: 60px;
	}

	.button {
		display: block;
		position: absolute;
		background: $blue;
		color: $white;
		font-family: 'Oswald', sans-serif;
		font-weight: 400;
		left: 0;
		bottom: 0;
		width: 100%;
		font-size: 1.25em;
		line-height: 3em;
		text-align: center;
		text-transform: uppercase;
		text-decoration: none;
		opacity: 0.85;
		padding: 0;
		border: none;
		cursor: pointer;

		@include transition();
		&:hover {
			opacity: 1;
		}
		.fa{
			margin-right: 5px;
		}
	}

	.contentError {
		margin-top: 10px;
		#mensajeError {
			color: #d60000;
		}
		#mensajeExito {
			color: #0e951b;
		}
	}
}



.hosepower-home__catalogo {
	background: rgba(14, 69, 135,0.49);
	padding: 20px 20px 35px;
	margin-top: 40px;
}

.hosepower-home__catalogo-title {
	font-size: 22px;
	color: $white;
	font-weight: 400;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin-bottom: 20px;
	text-align: center;
}

.hosepower-home__catalogo-view-all {
	text-align: center;
	clear: both;
	margin-top: 20px;
}

.hosepower-home__catalogo-view-all a {
	font-size: 14px;
	text-decoration: none;
	color: $white;
	@include transition();

	&:hover {
		color: $blue;
	}
}

.hosepower-home__catalogo-product {
	width: 14%;
	margin-right: 3.2%;
	float: left;
	position: relative;

	&:last-child {
		margin-right: 0!important;
	}

	a {
		display: block;

		img {
			width: 100%;
			height: auto;
			object-fit: cover;
		}

	}
}

.hosepower-home__catalogo-product-info {
	background-color: rgba(43,141,197,0.8);
	font-family: 'Oswald', sans-serif;
	font-size: 14px;
	text-transform: uppercase;
	position: absolute;
	top: 0;
	left: 0;
	right: 0;
	bottom: 3px;
	text-align: center;
	opacity: 0;
	@include transition();

	.title {
		position: absolute;
	    top: 20px;
	    left: 20px;
	    right: 20px;
	    font-weight: 400;
		color: $white;
	}

	.view {
		color: #2b8dc5;
		background-color: #fff;
		display: block;
		margin: 0 auto;
		padding: 5px 12px;
		position: absolute;
		bottom: 20px;
		left: 0;
		right: 0;
		width: 70px;
	}
}


.hosepower-home__catalogo-product:hover .hosepower-home__catalogo-product-info{
	opacity: 1;
}

.hosepower-home__modal-nueva-ubicacion {
	display: none;
	position: fixed;
	background: rgba(0,0,0,0.6);
	top: 0;
	bottom:0;
	right: 0;
	left: 0;
	z-index: 100;
	&.show {
		display: block;
	}
	.img-container {
		width: 420px;
		position: fixed;
		left: 50%;
		top:50%;
		transform: translate(-50%, -50%);
		background: #fff;
		padding: 10px;
		img {
			width: 100%;
			display: block;
		}
		.close {
			position: absolute;
			right: -16px;
			top: -16px;
			width: 32px;
			height: 32px;
			/*opacity: 0.3;*/
			background: #fff;
		}
		.close:hover {
			&.close:before,
			&.close:after {
				opacity: 1;
			}
		}
		.close:before, .close:after {
			position: absolute;
			left: 15px;
			top: 6px;
			content: ' ';
			height: 20px;
			width: 2px;
			background-color: #333;
			opacity: 0.3;
		}
		.close:before {
			transform: rotate(45deg);
		}
		.close:after {
			transform: rotate(-45deg);
		} 
	}
}

@media screen and (max-width: 768px) {
	.hosepower-home__container-article {
		width: 100%;
		margin: 0;
		margin-bottom: 20px;
	}

	.hosepower-home__catalogo-product {
	    width: 22%;
	    margin-right: 5.2%;
	    float: left;
	    position: relative;
	    margin-left: 5.2%;
		margin-bottom: 10px;
	}

	.hosepower-home__catalogo-product-info {
		opacity: 1;
	}
}

@media screen and (max-width: 500px) {
	.hosepower-home__catalogo-product {
		width: 40%;
		margin-left: 5%;
		margin-right: 5%;
	}

	.hosepower-home__catalogo-product-info {
		opacity: 1;
	}
}
