.hosepower-products-detail__container {
	margin-top: -35px;
	margin-bottom: 20px;

	.hosepower-sections-title a {
		color: $white;
		text-decoration: none;
	}

	.hosepower-sections-title .fa {
		position: relative;
		top: -6px;
		font-size: 13px;
		margin: 0 3px;
	}
}

.hosepower-products-detail__content {
	display: flex;
	flex-wrap: wrap;
}

.hosepower-products-detail__category {
	width: 47.5%;
	margin-right: 5%;
	margin-bottom: 20px;
	background: $white;
	position: relative;
}

.hosepower-products-detail__category:nth-child(even) {
	margin-right: 0;
}

// .hosepower-products-detail__category-title {
// 	font-size: 16px;
// 	color: $blue;
// 	line-height: 20px;
// 	font-family: 'Oswald', sans-serif;
// 	text-transform: uppercase;
// 	border-bottom: 1px solid $lightBlue;
// 	padding: 10px;
//
// 	.fa {
// 		font-size: 13px;
// 		position: relative;
// 		top: -2px;
// 	}
// }

.hosepower-products-detail__category-container {
	padding: 20px 0;
}

.hosepower-products-detail__category-list {
	width: 66%;
	float: left;
	margin-left: 10px;

	&:last-child{
		margin-right: 0;
	}
}

.hosepower-products-detail__category-name {
	font-size: 16px;
	color: $blue;
	line-height: 20px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	margin-bottom: 10px;
}

.hosepower-products-detail__category-description {
	margin-bottom: 10px;
}

.hosepower-products-detail__category-download {
	font-size: 14px;
	color: $darkGray;
	display: inline-block;
	line-height: 20px;
	font-family: 'Oswald', sans-serif;
	text-transform: uppercase;
	text-decoration: none;
    background: $borders;
    padding: 8px;
    border-radius: 5px;

	.fa {
		font-size: 18px;
    	margin-right: 5px;
	}

	&:hover {
		color: $blue;
	}
}

.hosepower-products-detail__category-image {
	float: left;
	width: 29%;
	height: auto;
	display: block;
}


@media screen and (max-width: 768px) {
	.hosepower-products-detail__category {
		width: 100%;
		margin-right: 0;
	}

	.hosepower-products-detail__category-image {
		margin-bottom: 10px;
		width: 100%;
	}

	.hosepower-products-detail__category-list {
		clear: both;
		width: 100%;
		margin: 0;
		border: none;
		padding: 0 15px;
	}
	.hosepower-products-detail__category-download {
		width: 100%;
	}
}
