.hosepower-services__container {
	margin-top: -35px;
	margin-bottom: 40px;
}

.hosepower-services__content {
    display: flex;
    flex-wrap: wrap;
}

.hosepower-services__col {
	width: 45%;
	margin-right: 5%;
	background: $white;
	padding: 35px;
	position: relative;

	&:last-child {
		margin-right: 0;
	}

	ul {
		list-style: none;
	}

	li {
		font-size: 13px;
		margin-bottom: 15px;
		position: relative;
		padding-left: 25px;
	}

	li:last-child {
		margin-bottom: 0px;
	}

	.fa {
		position: absolute;
		left: 0;
		font-size: 18px;
		color: $lightBlue;
		top: 2px;
	}
}

.hosepower-services__col-photo {
	background-image: url('../images/services/destacada.png');
	background-repeat: no-repeat;
	background-size: 100%;
	background-position: center right;
}

@media screen and (max-width: 768px) {
	.hosepower-services__col {
		width: 100%;
		margin-right: 0;
		margin-bottom: 20px;
	}
}
